@font-face {
  font-family: corbert-regular;
  src: url('../fonts/corbert-regular.otf');
}

.main {
  font-family: corbert-regular, sans-serif;
  background-color:#000000;
}

.header {
  float: left;
}

.headerLogo {
  width: 25%;
}

.headerRight {
  width: 75%;
}

.header_icons {
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
}

.icon {
  float: right;
  color: #FFFFFF;
  padding-right: 5px;
}

.clickable {
  cursor: pointer;
}

.email {
  clear: both;
  color: #FFFFFF;
}

.info {
  clear: both;
  color: #FFFFFF;
}

.infoTextLeft {
  width: 40%;
  float:left;
  padding-left: 20px;
  padding-bottom: 20px;
}

.infoTextRight {
  width: 50%;
  float: right;
  padding-right: 20px;
  padding-bottom: 20px;
}

.clicker-top {
  cursor: pointer;
  width: 100%;
  height: 50%;
  position: absolute;
}

.clicker-bottom {
  cursor: pointer;
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0px;
}

.clicker-right {
  cursor: pointer;
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0px;
}

.clicker-left {
  cursor: pointer;
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0px;
}

