.main {
	background-color:#000000;
	color:#FFFFFF;
	overflow-y: hidden ! important; 
	overflow-x: auto ! important;
}

#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

.firstIcon {
	height:30%;
}

.icon {
	height:100px;
}

.iconImg {
	cursor:pointer;
}
