@font-face {
  font-family: corbert-regular;
  src: url('../fonts/corbert-regular.otf');
}

.main {
  font-family: corbert-regular, sans-serif;
  background-color:#000000;
  clear: both;
  color: #FFFFFF;
}

.ctpHeading {
  width: 100%;
  padding-bottom: 20px;
}

.headerLeft {
  display: inline-block;
}

.headerMiddle {
  display: inline-block;
}

.headerRight {
  float: right;
  width: 10%;
}

.ctpLogo {
  width: 200px;
  padding-right: 40px;
}

.main_nav {
  display: inline;
}

.main_nav a {
  color: #8F8F8A;
  text-decoration: none;
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: 12px;
}

.header_icons {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon {
  display: inline;
  color: #FFFFFF;
  padding-right: 5px;
}

.gallery {
  max-width: 1400px;
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
}

.zoomable {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

.email {
  clear: both;
  color: #FFFFFF;
}

.info {
  clear: both;
  color: #FFFFFF;
}

.infoTextLeft {
  width: 40%;
  float:left;
  padding-left: 20px;
  padding-bottom: 20px;
}

.infoTextRight {
  width: 50%;
  float: right;
  padding-right: 20px;
  padding-bottom: 20px;
}

.clicker-top {
  width: 100%;
  height: 50%;
  position: absolute;
}

.clicker-bottom {
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0px;
}

.clicker-right {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0px;
}

.clicker-left {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0px;
}

